* {
	font-family: helvetica;
	text-align: center;
}
#header {
	background-image: url(/Users/richard/DevProjects/broadway/resources/images/the-flatiron-building.png)
}
h1 {
	font-size:70px;
	font-weight: bold;
	color: white;
}
ul {
	list-style-type: none;
	color: white;
	font-size: 18px;
}
li {
	padding: 10px;
}